<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<appSettings>
    <add key="PDFFilePrint.PrinterName" value="Microsoft XPS Document Writer"/>
    <add key="PDFFilePrint.PaperName" value="A4"/>
    <add key="PDFFilePrint.PrintToFile" value="true"/>
    <add key="PDFFilePrint.Copies" value="1"/>
    <add key="PDFFilePrint.DefaultPrintToDirectory" value="c:\temp"/>
  </appSettings></configuration>
